#hey {
    font-family: 'Poppins', sans-serif;
    font-size: 150px;
    padding-left: 120px;
    padding-bottom: 25px;
    color: 	#F66B7F;
}
#urhere {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    padding-left: 90px;
}
#loginman {
    max-width: 70%;
}