{% extends "layout.html" %}
{% block title %}
    Compose Note
{% endblock %}
{% block body %}
<div class="middle" style="padding-top: 45px;"><h2>Write a note:</h2></div>
<div class="middle" style="padding-top: 45px;">
    <div style="width: 50%; height: 500px; background-color: #F9F9F9" class="shadow-lg p-3 rounded">
        <form action="/compose" method="post">
            <div class="form-group">
                <!-- some of the text area styling from https://stackoverflow.com/a/17605480/13013466 -->
                <textarea name="body" placeholder="Write your note here..." style="width: 100%; height: auto;" rows=15></textarea>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="signed">
                <label class="custom-control-label" for="customSwitch1">Sign your note</label>
            </div>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
</div>
{% endblock %}