{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="middle" style="padding-top: 45px;">
        <div style="width: 50%; height: 500px; background-color: #F9F9F9" class="shadow-lg p-3 rounded">
            {% for i in range(0, noteLen) %}
            <div id="note_{{ i }}" hidden>
                <p style="padding: 10px;">{{ note[i].message_text }}</p>
                {% if note[i].signed == 1 %}
                <p><em>- {{ note[i]['username']}}</em></p>
                {% endif %}
                <div style="position: relative; bottom: 0%;">
                    <p style="font-size: 10px;">message_id: {{ note[i].message_id}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="middle">
        <div style="padding: 15px">
            <button type="button" class="btn btn-outline-success" style="height: 50x; width: 150px; font-size: 36px; position: relative; top: 40%;" onclick="nextNote()">🔄</button>
        </div>
        <div style="padding: 15px">
            <a type="button" class="btn btn-outline-warning" style="height: 50x; width: 150px; font-size: 36px; position: relative; top: 40%;" role="button" href="/compose">✏️️</a>
        </div>
    </div>

{% endblock %}
{% block footer %}
    <script src="static/notes.js"></script>
{% endblock %}