{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}
{% block body %}
<div class="container" style="width: 100%; height: 750px; stext-align: left; margin: 0px; display: flex;">
    <img src="https://github.com/bacarpenter/cs50_final/blob/master/images/loginman.png?raw=true" id="loginman">
    <div>
        <p class="hey">Hey,</p>
        <p class="urhere">you're here!</p>
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div style="text-align: right;">
            <button class="btn greenbutton" type="submit">Login</button>
            </div>
        </form>
        <div id="registerarea">
            <p> New around here?</p>
            <a type="button" class="btn btn-primary" href="/register" role="button">Register</a>
        </div>
    </div>
</div>
{% endblock %}