{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}
{% block body %}
<h2>Register:</h2>
<form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="passwordConfirm" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
<a href="/login">Login</a>
{% endblock %}