{% extends "layout.html" %}
{% block title %}
    Welcome
{% endblock %}
{% block body %}
<div class="middle">
    <h2>Hello and Welcome</h2>
</div>
<div class="middle">
    <p>It's awesome to have you! Before you get started, I want to let you know what this space is for!</p>
</div>
<div class="middle">
    <ul>
        <li>Sharing notes of positivity</li>
        <li>Sharing notes of grtitude</li>
        <li>Anything else that could make this space the high note of anothers day</li>
    </ul>
</div>
<div class="middle">
    <h4>Why?</h4>
</div>
<div class="middle">
    <p style="padding-left: 200px; padding-right: 200px;"> I created this site as a space for people to exspress gratitiude in a way, that is not entirley personal (AKA other
    people can see it) while not being as public as saying it in public which make people more shy. At the same time,
    I also wanted a space where you dont need to be a movie star for people to hear your moments of graitiude. By nature, we are all treated equally on hear.</p>
</div>
<hr style="border-top: 1px dashed #8c8b8b; height: 1px;"> <!-- <hr> element styling taken from https://bootsnipp.com/snippets/l1vZa -->
<div class="middle">
    <p><b>Note:</b> though signing your note is optional, records are kept internaly of who sent what note. Beyond that, it's just not cool.</p>
</div>
<div class="middle">
    <a class="btn greenbutton" role="button" href="/">Got it</a>
</div>
{% endblock %}